{% extends layout %}

{% block head %} 
{% endblock head %}

{% block content %}

  <h1>{{ page.title }}</h1>
  <p>{{ page.content }}</p>

{% endblock content %}

{% block scripts %} 
{% endblock scripts %}